@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@200&family=Orbitron:wght@500&family=Zen+Tokyo+Zoo&display=swap");
:root {
  --defcol: rgba(255, 255, 255, 0.53);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
}
h1,
button,
p {
  font-family: "Encode Sans SC", sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 3rem;
  padding-top: 20px;
}
#jsClock-h1 {
  font-size: 3.5rem;
  font-family: "Zen Tokyo Zoo", cursive;
  color: #656cd3;
}
.bgStopWatch {
  background-image: url("image/bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 1052px;
  height: 658px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stopWatch {
  background-color: var(--defcol);
  width: 40%;
  height: 20%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px #656cd3;
  box-shadow: 0px 0px 15px #656cd3;
  transition: 0.5s;
}
.stopWatch:hover {
  -webkit-box-shadow: 0 0 0 0.1rem #656cd3;
  box-shadow: 0 0 0 0.1rem #656cd3;
  transition: 0.5s;
}
.num {
  font-size: 60px;
  color: #656cd3;
}
button {
  font-size: 18px;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: var(--defcol);
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.4;
}
button:hover {
  background-color: #656cd3b7;
  border: 1px solid #656cd3b7;
  color: white;
  transition: 0.4s;
}
#jsclock {
  color: #656cd3;
  font-size: 60px;
  position: absolute;
  min-width: 430px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: "Orbitron", sans-serif;
}
footer {
  position: fixed;
  text-align: center;
  height: 50px;
  width: 100%;
  background-color: #656cd3;
  bottom: 0;
}
footer p {
  font-size: 20px;
  margin-top: 10px;
  color: #c7c7c7;
}
@media (max-width: 900px) {
  .bgStopWatch {
    height: 500px;
  }
  .stopWatch {
    width: 93%;
    height: 25%;
  }
}
@media (max-width: 570px) {
  .bgStopWatch {
    max-width: 338px;
  }
}
