@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@200&family=Orbitron:wght@500&family=Zen+Tokyo+Zoo&display=swap");
:root {
  --defcol: rgba(255, 255, 255, 0.53);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
}
h1,
p {
  font-family: "Encode Sans SC", sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 3rem;
  padding-top: 20px;
}
#jsClock-h1 {
  font-size: 3.5rem;
  font-family: "Zen Tokyo Zoo", cursive;
  color: #656cd3;
}
#jsclock {
  color: #656cd3;
  font-size: 60px;
  position: absolute;
  min-width: 430px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: "Orbitron", sans-serif;
}
footer {
  position: fixed;
  text-align: center;
  height: 50px;
  width: 100%;
  background-color: #656cd3;
  bottom: 0;
}
footer p {
  font-size: 18px;
  margin-top: 10px;
  color: #c7c7c7;
}
a {
  color: inherit;
}
